.fourth__section {
  margin-left: auto;
  margin-right: auto;
  width: 1224px;
  height: 500px;
}
.fourth__section__boxs h1 {
  font-size: 35px;
  font-weight: 600;
  margin-top: 130px;
}
.fourth__section__cards {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.fourth__section__cards__card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
}
.fourth__section__cards__card__left img {
  width: 268px;
  height: 262px;
}
.fourth__section__cards__card__right {
  width: 268px;
  height: 134px;
  margin-top: 84px;
}
.fourth__section__cards__card__right__des h2 {
  font-weight: bold;
  font-size: 17px;
  height: 35px;
}

.fourth__section__cards__card__right__des p {
  color: #8e8e8e;
  font-size: 13px;
  height: 30px;
}

.fourth__section__cards__card__right__des p span {
  color: black;
  font-weight: bold;
  font-size: 13px;
  margin-left: 6px;
}
