.fifth__section {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 1224px;
  height: 598px;
}
.fifth__section__left {
  height: 285px;
  margin-top: 130px;
}
.fifth__section__left h1 {
  font-size: 40px;
  font-weight: 800;
}
.fifth__section__left p {
  width: 400px;
  margin-top: 15px;
  color: #565656;
  font-size: 19px;
}

.fifth__section__left__emailBox {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.fifth__section__left__emailBox__input input {
  width: 310px;
  border: 1px solid #cdcdcd;
  height: 42px;
  border-radius: 6px;
  margin-top: 1px;
  font-size: 12px;
  padding: 15px;
}
.fifth__section__left__emailBox__input input::placeholder {
  padding: 0 15px;
}
.fifth__section__right img {
  width: 600px;
  height: 406px;
  margin-top: 50px;
  margin-left: 200px;
}

.fifth__section__left__emailBox__button {
  display: flex;
  height: 42px;
  border-radius: 6px;
  width: 100px;
  font-size: 15px;
  color: white;
  background-color: #ed5c01;
  cursor: pointer;
}
.fifth__section__left__emailBox__button:hover {
  border: 1px solid #ed5c01;
  background-color: white;
  color: #ed5c01;
  transition: 0.5s;
}
.fifth__section__left__emailBox__des {
  margin-top: 10px;
  margin-left: 15px;
}
.fifth__section__left__emailBox__arrow {
  margin-top: 13px;
  margin-left: 8px;
}
