.third__section {
  font-size: 35px;
  font-weight: 600;
  margin-top: 130px;
}
.third__section__total {
  margin-left: auto;
  margin-right: auto;
  width: 1224px;
  height: 500px;
}
.third__section__cards {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.third__section__cards__card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: white;
  height: 400px;
  border-radius: 10px;
  width: 320px;
}
.third__section__cards__card__img {
  width: 280px;
  margin-left: 20px;
}
.third__section__cards__card__title {
  font-size: 20px;
  margin-left: 70px;
  font-weight: bold;
  margin-left: 60px;
}
.third__section__button {
  display: flex;
  height: 45px;
  border-radius: 6px;
  width: 300px;
  font-size: 15px;
  color: #ed5c01;
  border: 1px solid #ed5c01;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  margin-left: 10px;
}
.third__section__button:hover {
  background-color: #ed5c01;
  color: white;
  transition: 0.5s;
}
.third__section__button__des {
  margin-top: 10px;
  margin-left: 76px;
}
.third__section__button__arrow {
  margin-top: 13px;
  margin-left: 8px;
}

.third__section__button__2 {
  display: flex;
  height: 45px;
  border-radius: 6px;
  width: 200px;
  font-size: 15px;
  color: white;
  background-color: #ed5c01;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 500px;
}
.third__section__button__2:hover {
  cursor: pointer;
  border: 1px solid #ed5c01;
  color: #ed5c01;
  background-color: white;
  transition: 0.5s;
}
.third__section__button__2__des {
  margin-top: 10px;
  margin-left: 25px;
}
.third__section__button__2__arrow {
  margin-top: 13px;
  margin-left: 8px;
}
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #F8F8F8;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #F8F8F8;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
